<div style="width: 100%;">
    <div style="max-width: 600px;margin: 0 auto;text-align: center;">
        <h2>{{ _('您申请重置密码！') }}</h2>

        <p>
            {{ _('1、如果您未曾申请重置密码，请忽略此邮件。') }}
            <br>
            {{ _('2、如果是您申请的，您的重置密码验证码如下：') }}
            <br>
            {{ code }}
        </p>

        <p>{{ _('敬礼') }}</p>
        <p>
            <hr />
            <a href="{{site_url}}" target="_blank">{{ _('{site_name}').format(site_name=site_name) }}</a>
        </p>
    </div>
</div>


